<div class="absolute border md:border-2 p-1.5 rounded border-black text-black transition duration-150 ease-in-out hover:bg-black hover:text-white right-2 md:m-3 md:right-5">
    <a class="md:text-3xl font-bold border-black px-1" href="/about">About</a>
</div>
<div class="my-4 text-center">
    <a class="text-5xl font-bold" href="/">Alexis</a>
</div>